div{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 5px solid black;
    display: inline-block;
}
.static{
    position: static;
    
}
.relative{
    position: relative;
    left: 50px;
    right: 50px;
}
.absolute{
    position: absolute;
    left: 50px;
    right: 50px;
}
.fixed{
    position: fixed;
    left: 50px;
    right: 50px;
}